<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdH kdbCase kbdClick ja" _key="、"><span>、</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="わ"><span>わ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ら"><span>ら</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="や"><span>や</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ま"><span>ま</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="は"><span>は</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="な"><span>な</span></td>
	    <td class="kbdH kdbCase kbdClick ja" _key="た"><span>た</span></td>
	    <td class="kbdH kdbCase kbdClick ja" _key="さ"><span>さ</span></td>
        <td class="kbdH kdbCase kbdClick ja" _key="か"><span>か</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="あ"><span>あ</span></td>
		<td class="kbdHB kbdClick jaBackspace" _key="Backspace"><span>Backspace</span></td>
	</tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
        <td style="width: 8%;"><span></span></td>
        <td style="width: 8%;"><span></span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="り"><span>り</span></td>
        <td style="width: 8%;"><span></span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="み"><span>み</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ひ"><span>ひ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="に"><span>に</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ち"><span>ち</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="し"><span>し</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="き"><span>き</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="い"><span>い</span></td>
        <td style="width: 48px;"><span></span></td>
    </tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdH kdbCase kbdClick ja" _key="。"><span>。</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="を"><span>を</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="る"><span>る</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ゆ"><span>ゆ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="む"><span>む</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ふ"><span>ふ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ぬ"><span>ぬ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="つ"><span>つ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="す"><span>す</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="く"><span>く</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="う"><span>う</span></td>
		<td style="width: 48px;"><span></span></td>
    </tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
        <td style="width: 8%;"><span></span></td>
        <td style="width: 8%;"><span></span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="れ"><span>れ</span></td>
        <td style="width: 8%;"><span></span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="め"><span>め</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="へ"><span>へ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ね"><span>ね</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="て"><span>て</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="せ"><span>せ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="け"><span>け</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="え"><span>え</span></td>
		<td class="kbdD jaEnter kbdClick" _key="Enter"><span class="kEnter"></span></td>
	</tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdH kdbCase kbdClick ja" _key="ー"><span>ー</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ん"><span>ん</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ろ"><span>ろ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="よ"><span>よ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="も"><span>も</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="ほ"><span>ほ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="の"><span>の</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="と"><span>と</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="そ"><span>そ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="こ"><span>こ</span></td>
		<td class="kbdH kdbCase kbdClick ja" _key="お"><span>お</span></td>
        <td id="katakanaMain" class="kbdKatakana kbdClick" _key="SwitchTyping"><span class="katakana">片仮名</span></td>
	</tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdD kbdClick ja" _key='" °'><span class="kAbc">" °</span></td>
        <td class="kbdD kbdClick ja" _key="&123"><span class="kAbc">&123</span></td>
		<td width="10" id="settingsButton" _menu="Settings" class="kbdD kbdClick kSettings kMenu" _key="empty"><span></span></td>
		<td class="kbdS kbdClick ja" _key=" "><span></span></td>
		<td class="kbdD kbdClick ja" _key="Close"><span class="kClose"></span></td>
	</tr>
</table>